<configuration>
  <appSettings>
    <add key="applicationFolder" value="C:\PDFConverter\PDFtoWord.py"/>
    <add key="outputFolder" value="C:\PDFConverter\Output"/>
    <add key="processFolder" value="C:\PDFConverter\Process"/>
    <add key="successFolder" value="C:\PDFConverter\Success"/>
    <add key="hotFolder" value="C:\PDFConverter\Hotfolder"/>
    
  </appSettings>
</configuration>